:root {
  --dark: #315991;
  --light: #ebe6e4;
  --primary: #6e76be;
  --secondary: #b4613a;
  --header_height: 100px;
  --footer_height: 56px;
  --default_padding: 20px;
  --default_border_radius: 8px;
}

a {
  color: var(--secondary);
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
